@media (prefers-reduced-motion: no-preference) {
  .hero-img, .computer {
    animation: increase infinite 5s linear;
    animation-direction: alternate;
  }
}
main, .nav-el{
  animation: 3s ease-out 0s 1 fading;
}
.email{
  animation: 2s ease-out 0s 1 slide-top;
}
.socials{
  animation: 2s ease-out 0s 1 slide-in;
}


@keyframes increase {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-top {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fading {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}

@keyframes spin {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(180deg);
  }
}
